---
layout: default
title: vijaykrishna lab / misc
categories:
 - misc
---

{% for page in site.categories.misc %}
<div class="bigspacer"></div>
<div class="row">
  <div class="col-md-3">
    <div class="head">
      <a href="{{ page.url }}" class="off">{{ page.title }}</a>
    </div>
  </div>
  <div class="col-md-8">
    <div style="height:5px;"></div>
    {% if page.image %}
    <a href="{{ page.url }}"><img class="offset" src="{{ page.image }}"></a>
    {% endif %}
    <div class="post">
      {{ page.content }}
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
{% endfor %}

<div class="spacer"></div>
<ul class="list-inline">
	{% for page in site.categories.misc %}
	<li class="footernav">
		&gt; <a class="off" href="{{ page.url }}">{{ page.title }}</a>
	</li>
	{% endfor %}
	<li class="footernav">
		&gt; <a class="off" href="/talks/">Talks</a>
	</li>
</ul>
